body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding-top: 30vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.postionButtons {
  padding-bottom: 10vh;
}

.postionButtons button {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #3e8e41;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptextleft {
  top: 20%;
  right: 105%;
}

.tooltip .tooltiptextleft::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip .tooltiptextright {
  top: 20%;
  left: 105%;
}

.tooltip .tooltiptextright::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip .tooltiptextbottom {
  top: 110%;
  left: -9%;
}

.tooltip .tooltiptextbottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip .tooltiptexttop {
  bottom: 110%;
  left: -9%;
}

.tooltip .tooltiptexttop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pressbutton {
  background-color: red;
  color: #fff;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
}
